@font-face {
    font-family: 'Demine';
    src: url('font/Demine/Demine.woff2') format('woff2'),
         url('font/Demine/Demine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAZentrum Regular';
    src: url('font/CAZentrum/CAZentrum-Regular.woff2') format('woff2'),
         url('font/CAZentrum/CAZentrum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAZentrum Condensed Light';
    src: url('font/CAZentrum/CAZentrumCondensed-Light.woff2') format('woff2'),
         url('font/CAZentrum/CAZentrumCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAZentrum Medium';
    src: url('font/CAZentrum/CAZentrumWide-Medium.woff2') format('woff2'),
         url('font/CAZentrum/CAZentrumWide-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Curiosa ExtraBold';
    src: url('font/Curiosa/Curiosa-ExtraBold.woff2') format('woff2'),
         url('font/Curiosa/Curiosa-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Curiosa ExtraLight';
    src: url('font/Curiosa/Curiosa-ExtraLight.woff2') format('woff2'),
         url('font/Curiosa/Curiosa-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F1F5F8;
}

header {
    background-color: #000e1e;
    color: #F1F1F1;
    padding: 20px;
}

.logo img {
    max-height: 90px;
    margin: 0;
    padding: 0;
}

.pf {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    align-items: center;
}

.profile-icon {
    color: #F1F1F1;
    max-height: 30px;
    font-size: 24px;
    margin-right: 10px;
}

.pf-dropdown {
    display: inline-block;
    position: relative;
}

.pf-dropdown .btn {
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease;
}

.logout-btn{
    text-decoration: none;
    /* padding-left: 30px; */
}

.pf-dropdown .dropdown-menu a.logout-btn {
    font-family: 'CAZentrum Regular', sans-serif;
    color: #000e1e;
    display: flex;
    justify-content: center;
}

.pf-dropdown .dropdown-menu :hover,
.pf-dropdown .dropdown-menu a.logout-btn:focus {
    background-color: #71999B;
}


.username {
    color: #F1F1F1;
    font-family: 'Curiosa ExtraLight', sans-serif;
    font-weight: 500;
    flex: 1;
}

.profile-icon, .username {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4960E;
    padding: 10px 20px;
}

.toHome{
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #F1F1F1;
    outline: none;
    cursor: pointer;
}

#msg {
    text-align: center;
    margin: auto;
    width: 50%; 
}

.bi-megaphone {
    font-size: 50px;
    color:#71999B;
}

.col-12 {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Demine', 'San Serif';
    color: #E4960E;
}

h5 {
    font-family: 'CAZentrum Medium', 'San Serif';
    color: #000e1e;
}

h4 {
    font-family: 'CAZentrum Medium', 'San Serif';
    color: #000e1e;
}

label {
    font-family: 'CAZentrum Condensed Light', 'San Serif';
    color: #000e1e;
}

p {
    font-family: 'CAZentrum Regular', 'San Serif';
}

.btn-block {
    width: 100%;
  }
  
  .button-save-publish {
    font-family: 'CAZentrum Medium', sans serif;
    background-color: #71999B; 
    color: #fff;
    font-size: 1.25rem;
    border-color: transparent; 
  }
  
  .button-save-publish:hover {
    background-color: #4d6769; 
    border-color: transparent;
  }
  
  .button-save-publish:active {
    background-color: transparent !important;
    border-color: #000e1e !important; 
    color: #000e1e !important; 
  }

footer {
    position: relative;
    width: 100%;
    color: #F1F1F1;
    font-family: 'CAZentrum Condensed Light', sans-serif;
    font-size: 13px;
    text-align: center;
    word-spacing: 2px;
}

.footer-bottom {
    background: #000e1e;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-width: 70px;
    height: auto;
    margin-bottom: 20px;
}

footer p {
    margin: 0;
}
